#slider-16 .wd-slide {
	min-height: 460px;
}

@media (max-width: 1024px) {
	#slider-16 .wd-slide {
		min-height: 590px;
	}
}

@media (max-width: 767px) {
	#slider-16 .wd-slide {
		min-height: 500px;
	}
}
